<div class="character-text-inner component-inner">
  {{> component this}}
  <div class="character-text-widget component-widget">
    <div class="character-text-graphic">
      <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" data-large="{{_graphic.large}}" data-medium="{{_graphic.medium}}" data-small="{{_graphic.small}}" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}"{{else}} aria-hidden="true"{{/if}}/>
	  </div>
	  <div class="character-text-text">
      <div class="bubble{{#if _text._shadowEnabled}} shadow{{/if}}">
        {{{compile _text.body this}}}
        <div class="arrow"></div>
        <div class="arrow-border"></div>
      </div>
	  </div>
  </div>
</div>
